@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* open sans */
.open-sans {
  font-family: "Open Sans", sans-serif;
}

/* button default style */
.button-default {
  width: 100%;
  background: linear-gradient(to right, #14b8a6, #0891b2);
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 10px 15px -3px rgba(20, 184, 166, 0.3),
    0 4px 6px -4px rgba(20, 184, 166, 0.3);
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, #0d9488, #0e7490);
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}

/* custom container */
.custom-container {
  max-width: var(--container-7xl);
  padding-inline: calc(var(--spacing) * 4);

  @media (width >= 40rem /* 640px */) {
    padding-inline: calc(var(--spacing) * 6);
  }
}
