@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* open sans */
.open-sans {
  font-family: "Open Sans", sans-serif;
}

/* custom container */
.custom-container {
  max-width: var(--container-7xl);
  padding-inline: calc(var(--spacing) * 4);

  @media (width >= 40rem /* 640px */) {
    padding-inline: calc(var(--spacing) * 6);
  }
}
